{% load static %}

<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Beth+Ellen|Lacquer|Open+Sans+Condensed:300|Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/twitter.css' %}">

    <title> bTwitter </title>
</head>
<body>

        <div class="nav-bar">
            <a href="/"> Home </a>
            {% if user.is_authenticated %}
                | <a href="/logout/"> Logout </a>
                | <a href="/new/"> new Tweet </a>
            {% else %}
                | <a href="/login/"> Login </a>
                | <a href="/signup/"> Sign Up </a>
            {% endif %}
        </div>

        <div class="page-header2">
        <a href="/">bTwitter</a>

    </div>


    <div class="page-body">
       <div class="row justify-content-md-center">
            <div class="col- container">
        {% block content%}

        {% endblock %}
            </div>
        </div>
    </div>

</body>
</html>