{% extends 'twitter/base.html' %}

{% block content %}
        {% for tweet in tweets %}
                <div class="a-tweet panel panel-default panel-body">
                    <span class="author"> {{ tweet.author }} </span>
                    <span class="datetime"> {{ tweet.published_date }} </span>
                    <div class="tweet"> {{ tweet.content|linebreaksbr }}</div>
                    {% if  tweet.parent_tweet != null %}
                        <br>
                        <div class="a-parent-tweet panel panel-default panel-body">
                            <span class="author"> {{ tweet.parent_tweet.author }} </span>
                            <span class="datetime"> {{ tweet.parent_tweet.published_date }} </span>
                            <div class="tweet"> {{ tweet.parent_tweet.content|linebreaksbr }}</div>
                        </div>
                    {% endif %}

                </div>
                <br>
        {% endfor %}
{% endblock %}